<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python

</div>


# 01 Data Types and Data Structures


# Introduction

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

# Basic Variable Types
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [ ]:
my_string1 = 'Welcome to'
my_string2 = "QuantConnect"
print(my_string1 + ' ' + my_string2)

Welcome to QuantConnect

In [ ]:
#Ejemplo
string_uno = 'Ejemplo'
string_dos = 'uno'
print(string_uno+' '+string_dos)

Ejemplo uno

An integer is a round number with no values after the decimal point.

In [ ]:
my_int = 10
print(my_int)
print(type(my_int))

10
<class 'int'>

In [ ]:
#Ejemplo
int_dos = 123456789
print(int_dos)
print(type(int_dos))

123456789
<class 'int'>

The built-in function int() can convert a string into an integer.

In [ ]:
my_string = "100"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

In [ ]:
#Ejemplo
string_to_int = '123456789'
print(string_to_int)
print(type(string_to_int))
int_from_string = int(string_to_int)
print(int_from_string)
print(type(int_from_string))

123456789
<class 'str'>
123456789
<class 'int'>

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

In [ ]:
my_string = "100"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

In [ ]:
#Ejemplo
string_to_float = '2021'
float_from_string = float(string_to_float)
print(float_from_string)
print(type(float_from_string))

2021.0
<class 'float'>

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [ ]:
my_bool = False
print(my_bool)
print(type(my_bool))

False
<class 'bool'>

In [ ]:
#Ejemplo
bool_dos = True
print(bool_dos)
print(type(bool_dos))

True
<class 'bool'>

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [ ]:
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division ", 10/2)
print('exponent', 2**3)

Addition  2
Subtraction  3
Multiplication  6
Division  5.0
exponent 8

In [ ]:
#Ejemplo
print("Addition_Example", 123+456+789)
print("Subtraction_Example", 987-654-321)
print("Multiplication_Example", 1*2*3*4*5)
print("Division_Example", 21/2)
print('exponent_Example', 3**3)

Addition_Example 1368
Subtraction_Example 12
Multiplication_Example 120
Division_Example 10.5
exponent_Example 27

# Basic Math Operations

The basic math operators in python are demonstrated below:

In [ ]:
print(1/3)
print(1.0/3)

0.3333333333333333
0.3333333333333333

In [ ]:
#Ejemplo
print(3000/34)
print(3000.0/34)

88.23529411764706
88.23529411764706

# Data Collections

## List
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [ ]:
my_list = ['Quant', 'Connect', 1,2,3]
print(my_list)

['Quant', 'Connect', 1, 2, 3]

In [ ]:
#Ejemplo
lista_animales = ['leon', 'tigre', 2, 3, 100]
print(lista_animales)

['leon', 'tigre', 2, 3, 100]

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n − 1. By the way, the length of a list can be obtained by the built-in function len().

In [ ]:
my_list = ['Quant', 'Connect', 1,2,3]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) -1])

5
Quant
3

In [ ]:
#Ejemplo
lista_numeros = ['uno', 2, 'tres', 4, 5, 6]
print( len(lista_numeros))
print( lista_numeros[0])
print( lista_numeros[len(lista_numeros)-2])

6
uno
5

You can also change the elements in the list by accessing an index and assigning a new value.

In [ ]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go'
print(my_list)

['Quant', 'Connect', 'go', 2, 3]

In [ ]:
#Ejemplo
lista_abecedario =  ['a', 'b', 'c', 'd', 0, 1]
lista_abecedario[2] = 'Z'
lista_abecedario[5] = 'uno'
print(lista_abecedario)

['a', 'b', 'Z', 'd', 0, 'uno']

A list can also be sliced with a colon:

In [ ]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3])

['Connect', 1]

In [ ]:
#Ejemplo
lista_dias = ['lunes', 'martes', 'miercoles', 'jueves', 'viernes']
print(lista_dias[0:3])

['lunes', 'martes', 'miercoles']

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [ ]:
print(my_list[1:])

['Connect', 'go', 2, 3]

In [ ]:
#Ejemplo
print(lista_dias[2:])

['miercoles', 'jueves', 'viernes']

And all elements up to but excluding index 3:

In [ ]:
print(my_list[:3])

['Quant', 'Connect', 1]

In [ ]:
#Ejemplo
print(lista_dias[:4])

['lunes', 'martes', 'miercoles', 'jueves']

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [ ]:
my_list = ['Hello', 'Quant']
my_list.append('Hello')
print(my_list)

['Hello', 'Quant', 'Hello']

In [ ]:
#Ejemplo
lista_dias.append('Sabado')
print(lista_dias)

['lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'Sabado']

In [ ]:
my_list.remove('Hello')
print(my_list)

['Quant', 'Hello']

In [ ]:
#Ejemplo
lista_dias.remove('lunes')
print(lista_dias)

['martes', 'miercoles', 'jueves', 'viernes', 'Sabado']

When there are repeated instances of "Hello", the first one is removed.

## Tuple
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')

In [ ]:
#Ejemplo
tuple_dos = ('leon', 'tigre', 'pantera', 'puma', 'lince')
print(tuple_dos)

('leon', 'tigre', 'pantera', 'puma', 'lince')

Just like a list, a tuple can be sliced by using index.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple[1:])

('to', 'QuantConnect')

In [ ]:
#Ejemplo
print( tuple_dos[:3] )

('leon', 'tigre', 'pantera')

## Set
A set is an **unordered**  collection with **no duplicate** elements. The built-in function **set()** can be used to create sets.

In [ ]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_set = set(stock_list)
print(stock_set)

{'F', 'AAPL', 'FB', 'GOOG', 'IBM'}

In [ ]:
#Ejemplo
lista_nombres = ['Fernando', 'Luis', 'Diego', 'Maria', 'Ana', 'Juan', 'Luis', 'Juan']
set_nombres = set(lista_nombres)
print(set_nombres)

{'Juan', 'Ana', 'Luis', 'Maria', 'Fernando', 'Diego'}

Set is an easy way to remove duplicate elements from a list.

##Dictionary
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an **unordered** collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [ ]:
my_dic = {'AAPL':'AAPLE', 'FB':'FaceBook', 'GOOG':'Alphabet'}

In [ ]:
print(my_dic['GOOG'])

Alphabet

In [ ]:
#Ejemplo
animales_colores = {'Tigre':'Naranja', 'Elefante':'Gris', 'Jirafa':'Amarillo', 'Sapo':'Verde', 'Raton':'Gris'}

In [ ]:
print( animales_colores['Jirafa'] )

Amarillo

After defining a dictionary, we can access any value by indicating its key in brackets.

In [ ]:
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG'])

Alphabet Company

In [ ]:
#Ejemplo
animales_colores['Raton'] = 'Gris Oscuro'
print(animales_colores['Raton'])

Gris Oscuro

We can also change the value associated with a specified key:

In [ ]:
print(my_dic.keys())

dict_keys(['AAPL', 'FB', 'GOOG'])

In [ ]:
#Ejemplo
print(animales_colores.keys())

dict_keys(['Tigre', 'Elefante', 'Jirafa', 'Sapo', 'Raton'])

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

# Common String Operations
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [ ]:
my_str = 'Welcome to QuantConnect'
print(my_str[8:])

to QuantConnect

In [ ]:
#Ejemplo
string_sliced = 'Anita lava la tinA'
print(string_sliced[:5])
print(string_sliced[14:])

Anita
tinA

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters

In [ ]:
print('Counting the number of e appears in this sentence'.count('e'))
print('The first time e appears in this sentence'.find('e'))
print('all the a in this sentence now becomes e'.replace('a','e'))

7
2
ell the e in this sentence now becomes e

In [ ]:
#Ejemplo
print('carro'.count('u'))
print('murcielago'.find('i'))
print('colombia'.replace('o','u'))

0
4
culumbia

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [ ]:
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

2016-04-01 09:43:00
09

In [1]:
#Ejemplo
nombre_universidad = 'Universidad Nacional de Colombia'
split_nombre = nombre_universidad.split(' ')
print(split_nombre[0])
print(split_nombre[1])

Universidad
Nacional

We can replace parts of a string by our variable. This is called string formatting.

In [2]:
my_time = 'Hour: {}, Minute:{}'.format('09','43')
print(my_time)

Hour: 09, Minute:43

In [5]:
#Ejemplo
pais_capital = 'Pais: {}, Capital: {}, Habitantes: {}'.format('Colombia','Bogota',8000000)
print(pais_capital)

Pais: Colombia, Capital: Bogota, Habitantes: 8000000

Another way to format a string is to use the % symbol.

In [ ]:
print('the pi number is %f'%3.14)
print('%s to %s'%('Welcome','Quantconnect'))

the pi number is 3.140000
Welcome to Quantconnect

In [8]:
#Ejemplo
print('En el planeta hay %i paises' %197)
print('En latinoamerica se encuentran %s ,%s y tambien %s'%('Colombia', 'Argentina', 'Uruguay'))

En el planeta hay 197 paises
En latinoamerica se encuentran Colombia ,Argentina y tambien Uruguay

# Summary

Weave seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 02 Logical Operations and Loops

# Introduction
We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

# Logical Operations
Like most programming languages, Python has comparison operators:

In [ ]:
print(1 == 0)
print(1 == 1)
print(1 != 0)
print(5 >= 5)
print(5 >= 6)

False
True
True
True
False

In [10]:
#Ejemplo
print(1 == 1)
print('a' == 'a')
print(2 != 4)
print(51 >= 52)
print(1 >= -1)

True
True
True
False
True

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

- The statement "P and Q" is true if both P and Q are true, otherwise it is false.
- The statement "P or Q" is false if both P and Q are false, otherwise it is true.
- The statement "not P" is true if P is false, and vice versa.

In [11]:
print(2 > 1 and 3 > 2)
print(2 > 1 and 3 < 2 )
print(2 > 1 or 3 < 2)
print(2 < 1 and 3 < 2)

True
False
True
False

In [12]:
#Ejemplo
print (10 < 20 and 20 > 30)
print (31 < 32 and 32 < 33)
print (4 > 2 or 1 > 15)
print (-2 < -1 and 1 > -1)

False
True
True
True

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [ ]:
print((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print(3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))

False
True

In [13]:
#Ejemplo
print((11>14 or 2<35) and (1!=0 and 2==43) and not ( 53<=21 or 28<35 and (0==0 and 34>32)))
print(56>84 or 45<=63 and (12!=86 and 9>=7) and not ( 4==54 or 97<32 and (66!=78 and 0==9)))

False
True

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

# If Statement
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

```python
if statement1:
    # if the statement1 is true, execute the code here.
    # code.....
    # code.....
elif statement2:
    # if the statement 1 is false, skip the codes above to this part.
    # code......
    # code......
else:
    # if none of the above statements is True, skip to this part
    # code......
```

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [14]:
i = 0
if i == 0:
    print('i==0 is True')

i==0 is True

In [15]:
#Ejemplo
i_dos = 2021
if i_dos == 2021:
    print('i_dos == 2021 is True')

i_dos == 2021 is True

As we mentioned above, we can write some complex statements here:

In [1]:
p = 1 > 0
q = 2 > 3
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

q is false

In [2]:
#Ejemplo
p = 2020 < 2021
q = 2021 > 2022
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

q is false

# Loop Structure
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

## While Loop
A "while" loop will run repeatedly until a certain condition has been met.

In [1]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [2]:
#Ejemplo
i_dos = 10
while i_dos < 60:
    print(i_dos)
    i_dos += i_dos

10
20
40

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

## For Loop
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [3]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [4]:
#Ejemplo
for i_dos in [10, 20, 30, 40, 50, 60]:
    print(i_dos)

10
20
30
40
50
60

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [5]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for i in stocks:
    if i not in selected:
        new_list.append(i)
print(stocks)

['AAPL', 'GOOG', 'IBM', 'FB', 'F', 'V', 'G', 'GE']

In [6]:
#Ejemplo
stocks_dos = ['Rojo', 'Azul', 'Verde', 'Rosado']
selected_dos = ['Azul', 'Verde']
newList_dos = []
for i in stocks_dos:
    if i not in selected_dos:
        newList_dos.append(i)
print(newList_dos)

['Rojo', 'Rosado']

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

## Break and continue
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [7]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    print(i)
    if i == 'FB':
        break

AAPL
GOOG
IBM
FB

In [11]:
#Ejemplo
stocks_dos = ['Rojo', 'Azul', 'Verde', 'Rosado']
for i_dos in stocks_dos:
    print(i_dos)
    if i_dos == 'Verde':
        break

Rojo
Azul
Verde

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [10]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    if i == 'FB':
        continue
    print(i)

AAPL
GOOG
IBM
F
V
G
GE

In [14]:
#Ejemplo
stocks_dos = ['Rojo', 'Azul', 'Verde', 'Rosado']
for i_dos in stocks_dos:
    if i_dos == 'Azul':
        continue
    print(i_dos)

Rojo
Verde
Rosado

# List Comprehension
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [16]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25]

In [18]:
#Ejemplo
cubes = []
for i_dos in [5,10,15,20]:
    cubes.append(i_dos**3)
print(cubes)

[125, 1000, 3375, 8000]

Using list comprehension:

In [19]:
qList = [1,2,3,4,5]
squares = [x**2 for x in qList]
print(squares)

[1, 4, 9, 16, 25]

In [20]:
#Ejemplo
qList_dos = [2, 4, 6, 8, 10]
cubes_dos = [x**3 for x in qList_dos]
print(cubes_dos)

[8, 64, 216, 512, 1000]

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [21]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x in selected]
print(new_list)

['AAPL', 'IBM']

In [24]:
#Ejemplo
stocks_dos = ['Lagarto', 'Cocodrilo', 'Nutria', 'Tiburon', 'Ballena', 'Lagarto']
selected_dos = ['Lagarto', 'Nutria']
new_list_dos = [x for x in stocks_dos if x in selected_dos]
print(new_list_dos)

['Lagarto', 'Nutria', 'Lagarto']

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [25]:
print( [(x, y) for x in [1,2,3] for y in [3,1,4] if x != y] )
print( [str(x)+' vs '+str(y) for x in ['AAPL','GOOG','IBM','FB'] for y in ['F','V','G','GE'] if x!=y] )

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

In [26]:
#Ejemplo
print( [(x, y) for x in [5, 6, 8, 10] for y in [10,12,16,20] if x != y] )
print( [str(x)+' vs '+str(y) for x in ['Thor','Grooth','Loki','Hulk'] for y in ['CaptainA','Marvel'] if x!=y] )

[(5, 10), (5, 12), (5, 16), (5, 20), (6, 10), (6, 12), (6, 16), (6, 20), (8, 10), (8, 12), (8, 16), (8, 20), (10, 12), (10, 16), (10, 20)]
['Thor vs CaptainA', 'Thor vs Marvel', 'Grooth vs CaptainA', 'Grooth vs Marvel', 'Loki vs CaptainA', 'Loki vs Marvel', 'Hulk vs CaptainA', 'Hulk vs Marvel']

List comprehension is an elegant way to organize one or more for loops when creating a list.

# Summary
This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 03 Functions and Objective-Oriented Programming

# Introduction

In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

# Functions
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [27]:
def product(x,y):
    return x*y
print(product(2,3))
print(product(5,10))

6
50

In [28]:
#Ejemplo
def resta(x, y):
    return x-y
print(resta (7, 3))
print(resta (2,4))

4
-2

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [29]:
def say_hi():
    print('Welcome to QuantConnect')
say_hi()

Welcome to QuantConnect

In [30]:
#Ejemplo
def nombre(): print('Mi nombre es Siri')
nombre()

Mi nombre es Siri

# Built-in Function
**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [31]:
print(range(10))
print(range(1,11))
print(range(1,11,2))

range(0, 10)
range(1, 11)
range(1, 11, 2)

In [32]:
#Ejemplo
print(range(456))
print(range(24,32))
print(range(5,50,120))

range(0, 456)
range(24, 32)
range(5, 50, 120)

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [38]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print('The length of tickers is {}'.format(len(tickers)))
for i in range(len(tickers)):
    print(tickers[i])

The length of tickers is 8
AAPL
GOOG
IBM
FB
F
V
G
GE

In [42]:
#Ejemplo
tickers_dos = ['a','b','c','d','e','f','g']
print('The length of tickers_dos is {} '.format(len(tickers_dos)))
for i_dos in range (len(tickers_dos)):
  print(tickers_dos[i_dos])

The length of tickers_dos is 7
a
b
c
d
e
f
g

Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**map(**) is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

In [43]:

for tickers in map(len,['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']):
    print( tickers )

4
4
3
2
1
1
1
2

In [44]:
#Ejemplo
for tickers_dos in map(len,['Uno','Dos','Tres','Cuatro','Cinco','Seis']):
    print( tickers_dos )

3
3
4
6
5
4

The **lambda operator** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [46]:
for sqrt  in map(lambda x: x**2,[0,1,2,3,4,5,6,7,8,9]):
    print( sqrt )

0
1
4
9
16
25
36
49
64
81

In [47]:
#Ejemplo
for cube  in map(lambda x: x**3,[0,1,2,3,4,5,6,7,8,9]):
    print( cube )

0
1
8
27
64
125
216
343
512
729

map() can be applied to more than one list. The lists have to have the same length.

In [48]:
for sum  in map(lambda x, y: x+y,[1,2,3,4,5],[5,4,3,2,1]):
    print( sum )

6
6
6
6
6

In [49]:
#Ejemplo
for rest  in map(lambda x, y: x-y,[8, 9],[10,9]):
    print( rest )

-2
0

**sorted()** takes a list or set and returns a new sorted list

In [50]:
sorted([5,2,3,4,1])

[1, 2, 3, 4, 5]

In [51]:
#Ejemplo
sorted( [5,7,9,3,5,4,6,9,6,3,2,1,0,5,4] )

[0, 1, 2, 3, 3, 4, 4, 5, 5, 5, 6, 6, 7, 9, 9]

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [52]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

In [53]:
#Ejemplo
price_list_dos = [ ('Papas', 1000), ('Cafe', 2000), ('Chocolate', 2600), ('Leche', 4800), ('Huevos', 300) ]
sorted( price_list_dos, key=lambda x: x[1] )

[('Huevos', 300),
 ('Papas', 1000),
 ('Cafe', 2000),
 ('Chocolate', 2600),
 ('Leche', 4800)]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [54]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1],reverse = True)

[('GOOG', 911.71), ('FB', 150), ('AAPL', 144.09), ('WMT', 75.32), ('MSFT', 69)]

In [55]:
#Ejemplo
price_list_dos = [ ('Papas', 1000), ('Cafe', 2000), ('Chocolate', 2600), ('Leche', 4800), ('Huevos', 300) ]
sorted( price_list_dos, key=lambda x: x[1],reverse = True,  )

[('Leche', 4800),
 ('Chocolate', 2600),
 ('Cafe', 2000),
 ('Papas', 1000),
 ('Huevos', 300)]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [56]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
price_list.sort(key = lambda x: x[1])
print(price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

In [57]:
#Ejemplo
price_list_dos = [ ('Papas', 1000), ('Cafe', 2000), ('Chocolate', 2600), ('Leche', 4800), ('Huevos', 300) ]
price_list_dos.sort(key=lambda x: x[1] )
print(price_list_dos)

[('Huevos', 300), ('Papas', 1000), ('Cafe', 2000), ('Chocolate', 2600), ('Leche', 4800)]

# Object-Oriented Programming
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

## Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [58]:
class stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1
 
    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1
 
    def print_return(self):
        print(self.rate_return)

In [63]:
#Ejemplo
class Carro:
    def __init__(self, color, modelo, puestos, marca, motor):
        self.color = color
        self.modelo = modelo
        self.puestos = puestos
        self.marca = marca
        self.motor = motor
    def getColor(self):
        return self.color
    def getModelo(self):
        return self.modelo
    def getPuestos(self):
        return self.puestos
    def getMarca(self):
        return self.marca
    def getMotor(self):
        return self.motor

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [60]:
apple = stock('AAPL', 143.69, 144.09, 20109375)
google = stock('GOOG', 898.7, 911.7, 1561616)

In [64]:
#Ejemplo
carro_uno = Carro('rojo', 2020, 4, 'renault', 1600)
carro_dos = Carro('azul', 2022, 2, 'kawazaki', 1000)

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [65]:
apple.ticker
google.print_return()
google.update(912.8,913.4)
google.print_return()

0.014465338822744034
0.0006573181419806673

In [66]:
#Ejemplo
print( carro_uno.getMarca(), carro_uno.getColor(), carro_uno.getModelo())
print( carro_dos.getColor(), carro_dos.getMarca(), carro_dos.getMotor() )

renault rojo 2020
azul kawazaki 1000

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods **inside a class**, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [67]:
apple.ceo = 'Tim Cook'
apple.ceo

'Tim Cook'

In [70]:
#Ejemplo
carro_uno.puertas = 4
print (carro_uno.puertas)
carro_dos.puertas = 2
print (carro_dos.puertas)

4
2

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [71]:
dir(apple)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

In [72]:
#Ejemplo
dir(carro_uno)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'color',
 'getColor',
 'getMarca',
 'getModelo',
 'getMotor',
 'getPuestos',
 'marca',
 'modelo',
 'motor',
 'puertas',
 'puestos']

## Inheritance
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [73]:
class child(stock):
    def __init__(self,name):
        self.name = name

In [74]:
aa = child('aa')
print(aa.name)
aa.update(100,102)
print(aa.open)
print(aa.close)
print(aa.print_return())

aa
100
102
0.020000000000000018
None

In [75]:
#Ejemplo
class CarroModificado(Carro):
    def __init__(self):
        self.marca = 'Chevrolet'
        self.color = 'Morado'
        self.modelo = '2025'

In [76]:
#Ejemplo
carro_tres = CarroModificado()
print(carro_tres.getMarca())
print(carro_tres.getColor())
print(carro_tres.getModelo())

Chevrolet
Morado
2025

As seen above, the new class Child has inherited the methods from Stock.

#Summary

In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 04 NumPy and Basic Pandas

# Introduction

Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

# NumPy
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [77]:
import numpy as np

## Basic NumPy Arrays
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [78]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print(price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

In [79]:
#Ejemplo
price_list_dos = [145, 562.1, 210.5, 12.9, 156.2, 999.9]
price_array_dos = np.array(price_list_dos)
print(price_array_dos, type(price_array_dos))

[145.  562.1 210.5  12.9 156.2 999.9] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [80]:
Ar = np.array([[1,3],[2,4]])
print(Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

In [81]:
#Ejemplo
Ar_dos = np.array([ [1, 2, 3], [4, 5, 6], [7, 8, 9] ])
print(Ar_dos, type(Ar_dos))

[[1 2 3]
 [4 5 6]
 [7 8 9]] <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [82]:
print(Ar.shape)

(2, 2)

In [83]:
#Ejemplo
print(Ar_dos.shape)

(3, 3)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [84]:
print(Ar[0])
print(Ar[1])

[1 3]
[2 4]

In [85]:
#Ejemplo
print(Ar_dos[0])
print(Ar_dos[1])
print(Ar_dos[2])

[1 2 3]
[4 5 6]
[7 8 9]

If we want to access the matrix by column instead:

In [86]:
print('the first column: ', Ar[:,0])
print('the second column: ', Ar[:,1])

the first column:  [1 2]
the second column:  [3 4]

In [87]:
#Ejemplo
print('Primera Columna: ', Ar_dos[:,0])
print('Segunda Columna: ', Ar_dos[:,1])
print('Tercera Columna: ', Ar_dos[:,2])

Primera Columna:  [1 4 7]
Segunda Columna:  [2 5 8]
Tercera Columna:  [3 6 9]

## Array Functions
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [88]:
print(np.log(price_array))

[4.96793654 4.98244156 4.9675886  4.96995218 4.96633504 4.96018375]

In [89]:
#Ejemplo
print(np.log(price_array_dos))

[4.97673374 6.33167977 5.34948565 2.55722731 5.05113724 6.90765527]

Other functions return a single value:

In [90]:
print(np.mean(price_array))
print(np.std(price_array))
print(np.sum(price_array))
print(np.max(price_array))

143.89666666666668
0.9673790478515796
863.38
145.83

In [91]:
#Ejemplo
print(np.mean(price_array_dos))
print(np.std(price_array_dos))
print(np.sum(price_array_dos))
print(np.max(price_array_dos))

347.76666666666665
336.65179670131306
2086.6
999.9

The functions above return the mean, standard deviation, total and maximum value of an array.

# Pandas
Pandas is one of the most powerful tools for dealing with financial data. 

First we need to import Pandas:

In [92]:
import pandas as pd

## Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [102]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)
s

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

In [103]:
#Ejemplo
s_dos = pd.Series(price_array_dos)
print(s_dos)

0    145.0
1    562.1
2    210.5
3     12.9
4    156.2
5    999.9
dtype: float64

We can customize the indices of a new Series:

In [104]:
s = pd.Series(price,index = ['a','b','c','d','e','f'])
s

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

In [105]:
#Ejemplo
s_dos = pd.Series(price_array_dos, index=['00','01','02','03','04','05'])
print(s_dos)

00    145.0
01    562.1
02    210.5
03     12.9
04    156.2
05    999.9
dtype: float64

Or we can change the indices of an existing Series:

In [106]:
s.index = [6,5,4,3,2,1]
s

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

In [107]:
#Ejemplo
s_dos.index = ['a',2,'c',4,'e',6]
s_dos

a    145.0
2    562.1
c    210.5
4     12.9
e    156.2
6    999.9
dtype: float64

Series is like a list since it can be sliced by index:

In [108]:
print(s[1:])
print(s[:-2])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

In [109]:
#Ejemplo
print(s_dos[2:])
print(s_dos[:-1])

c    210.5
4     12.9
e    156.2
6    999.9
dtype: float64
a    145.0
2    562.1
c    210.5
4     12.9
e    156.2
dtype: float64

Series is also like a dictionary whose values can be set or fetched by index label:

In [110]:
print(s[4])
s[4] = 0
print(s)

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

In [115]:
#Ejemplo
print(s_dos['c'])
s_dos[4] = 123.123
print(s_dos)

210.5
a    145.000
2    562.100
c    210.500
4    123.123
e    156.200
6    999.900
dtype: float64

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [116]:
s = pd.Series(price, name = 'Apple Price List')
print(s)
print(s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Price List, dtype: float64
Apple Price List

In [117]:
#Ejemplo
s_dos = pd.Series( price_array_dos, name='Precios productos' )
print(s_dos)
print(s_dos.name)

0    145.000
1    562.100
2    210.500
3    123.123
4    156.200
5    999.900
Name: Precios productos, dtype: float64
Precios productos

We can get the statistical summaries of a Series:

In [118]:
print(s.describe())

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Price List, dtype: float64

In [119]:
#Ejemplo
print(s_dos.describe())

count      6.000000
mean     366.137167
std      351.087121
min      123.123000
25%      147.800000
50%      183.350000
75%      474.200000
max      999.900000
Name: Precios productos, dtype: float64

## Time Index
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [120]:
time_index = pd.date_range('2017-01-01',periods = len(s),freq = 'D')
print(time_index)
s.index = time_index
print(s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Price List, dtype: float64

In [121]:
#Ejemplo
timeIndex = pd.date_range( '2020-03-21', periods = len(s_dos), freq = 'D' )
print(timeIndex)
s_dos.index = timeIndex
print(s_dos)

DatetimeIndex(['2020-03-21', '2020-03-22', '2020-03-23', '2020-03-24',
               '2020-03-25', '2020-03-26'],
              dtype='datetime64[ns]', freq='D')
2020-03-21    145.000
2020-03-22    562.100
2020-03-23    210.500
2020-03-24    123.123
2020-03-25    156.200
2020-03-26    999.900
Freq: D, Name: Precios productos, dtype: float64

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [122]:
s.index = [6,5,4,3,2,1]
print(s)
print(s[1])

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Price List, dtype: float64
142.62

In [123]:
#Ejemplo
s_dos.index = ['I','II','III','IV','V','VI']
print(s_dos)
print(s_dos['V'])

I      145.000
II     562.100
III    210.500
IV     123.123
V      156.200
VI     999.900
Name: Precios productos, dtype: float64
156.2

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [124]:
print(s.iloc[1])

145.83

In [126]:
#Ejemplo
print(s_dos.iloc[2])

210.5

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index

In [127]:
s.index = time_index
print(s['2017-01-03'])

143.68

In [129]:
#Ejemplo
s_dos.index = timeIndex
print(s_dos['2020-03-23'])

210.5

We can even access to a range of dates:

In [131]:
print(s['2017-01-02':'2017-01-05'])

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Apple Price List, dtype: float64

In [132]:
#Ejemplo
print(s_dos['2020-03-22': '2020-03-25'])

2020-03-22    562.100
2020-03-23    210.500
2020-03-24    123.123
2020-03-25    156.200
Freq: D, Name: Precios productos, dtype: float64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [133]:
print(s[s < np.mean(s)] )
print([(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
Name: Apple Price List, dtype: float64
[2017-01-01    False
2017-01-02    False
2017-01-03    False
2017-01-04     True
2017-01-05    False
2017-01-06    False
Freq: D, Name: Apple Price List, dtype: bool]

In [134]:
#Ejemplo
print( s_dos[s_dos < np.mean(s_dos)] )
print([(s_dos > np.mean(s_dos)) & (s_dos < np.mean(s_dos) + 2.5*np.std(s_dos))])

2020-03-21    145.000
2020-03-23    210.500
2020-03-24    123.123
2020-03-25    156.200
Name: Precios productos, dtype: float64
[2020-03-21    False
2020-03-22     True
2020-03-23    False
2020-03-24    False
2020-03-25    False
2020-03-26     True
Freq: D, Name: Precios productos, dtype: bool]

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

# Summary
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 05 Pandas-Resampling and DataFrame

# Introduction
In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

# Fetching Data

Get the data online (scraping) from Yahoo Finance with yfinance

In [136]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.64.tar.gz (26 kB)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading lxml-4.6.3-cp37-cp37m-manylinux2014_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 11.4 MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.64-py2.py3-none-any.whl size=24109 sha256=6304968f19b0db078de379486787d7e3fa05491ac11495bdc9b5880089d7b9cb
  Stored in directory: /root/.cache/pip/wheels/86/fe/9b/a4d3d78796b699e37065e5b6c27b75cff448ddb8b24943c288
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.64

In [137]:


import yfinance as yf

aapl = yf.Ticker("AAPL")

# get stock info
print(aapl.info)

# get historical market data
aapl_table = aapl.history(start="2016-01-01",  end="2017-12-31")
aapl_table

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 147000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch, and other Apple-branded and third-party accessories. It also provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store, that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It sells and delivers third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408-996-1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.31955, 'profitMargins': 0.25004, 'grossMargins': 0.41005, 'operatingCashflow': 104414003200, 'revenueGrowth': 0.364, 'operatingMargins': 0.28788, 'ebitda': 110934999040, 'targetLowPrice': 132, 'recommendationKey': 'buy', 'grossProfits': 104956000000, 'freeCashflow': 80625876992, 'targetMedianPrice': 170, 'currentPrice': 149.26, 'earningsGrowth': 1, 'currentRatio': 1.062, 'returnOnAssets': 0.19302, 'numberOfAnalystOpinions': 41, 'targetMeanPrice': 168.35, 'debtToEquity': 210.782, 'returnOnEquity': 1.27125, 'targetHighPrice': 190, 'totalCash': 61696000000, 'totalDebt': 135491002368, 'totalRevenue': 347155005440, 'totalCashPerShare': 3.732, 'financialCurrency': 'USD', 'revenuePerShare': 20.61, 'quickRatio': 0.887, 'recommendationMean': 1.9, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 7.296, 'beta3Year': None, 'enterpriseToEbitda': 22.832, '52WeekChange': 0.27286732, 'morningStarRiskRating': None, 'forwardEps': 5.67, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16530199552, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 3.882, 'sharesShort': 101107412, 'sharesPercentSharesOut': 0.0061000003, 'fundFamily': None, 'lastFiscalYearEnd': 1601078400, 'heldPercentInstitutions': 0.58676, 'netIncomeToCommon': 86801997824, 'trailingEps': 5.108, 'lastDividendValue': 0.22, 'SandP52WeekChange': 0.3155439, 'priceToBook': 38.449253, 'heldPercentInsiders': 0.00072999997, 'nextFiscalYearEnd': 1664150400, 'yield': None, 'mostRecentQuarter': 1624665600, 'shortRatio': 1.18, 'sharesShortPreviousMonthDate': 1630368000, 'floatShares': 16512974627, 'beta': 1.222222, 'enterpriseValue': 2532822482944, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1628208000, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.932, 'priceToSalesTrailing12Months': 7.1071925, 'dateShortInterest': 1632960000, 'pegRatio': 1.38, 'ytdReturn': None, 'forwardPE': 26.324514, 'lastCapGain': None, 'shortPercentOfFloat': 0.0061000003, 'sharesShortPriorMonth': 96838699, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 148.76, 'regularMarketOpen': 148.7, 'twoHundredDayAverage': 139.00964, 'trailingAnnualDividendYield': 0.005613068, 'payoutRatio': 0.16309999, 'volume24Hr': None, 'regularMarketDayHigh': 149.7522, 'navPrice': None, 'averageDailyVolume10Day': 73697228, 'regularMarketPreviousClose': 148.76, 'fiftyDayAverage': 146.47115, 'trailingAnnualDividendRate': 0.835, 'open': 148.7, 'toCurrency': None, 'averageVolume10days': 73697228, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.88, 'exDividendDate': 1628208000, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 148.12, 'currency': 'USD', 'trailingPE': 29.22083, 'regularMarketVolume': 57124509, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2467297492992, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 76845849, 'dayLow': 148.12, 'ask': 149.05, 'askSize': 1300, 'volume': 57124509, 'fiftyTwoWeekHigh': 157.26, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.24, 'fiftyTwoWeekLow': 107.32, 'bid': 149.04, 'tradeable': False, 'dividendYield': 0.0058999998, 'bidSize': 1200, 'dayHigh': 149.7522, 'regularMarketPrice': 149.26, 'preMarketPrice': 148.7, 'logo_url': 'https://logo.clearbit.com/apple.com'}

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-04  23.655166  24.291443  23.514540  ...  270597600        0.0             0
2016-01-05  24.379039  24.402092  23.609054  ...  223164000        0.0             0
2016-01-06  23.182563  23.599832  23.023496  ...  273829600        0.0             0
2016-01-07  22.749158  23.083433  22.230456  ...  324377600        0.0             0
2016-01-08  22.719201  22.848300  22.306543  ...  283192000        0.0             0
...               ...        ...        ...  ...        ...        ...           ...
2017-12-22  41.827749  42.004946  41.784649  ...   65397600        0.0             0
2017-12-26  40.898675  41.059108  40.630484  ...  132742000        0.0             0
2017-12-27  40.731054  40.893880  40.637667  ...   85992800        0.0             0
2017-12-28  40.946564  41.150101  40.822048  ...   65920800        0.0             0
2017-12-29  40.831629  40.848389  40.520339  ...  103999600        0.0             0

[503 rows x 7 columns]

In [ ]:
!pip install yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.63)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.6.3)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)

In [138]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/dnrubiol/MetNumUN2021II/main/Lab1/yahoo_apple.csv')
data

           Date       Open       High        Low      Close  Adj Close   Volume
0    2020-10-19  10.140000  10.205000   9.920000   9.930000   9.910515   972500
1    2020-10-20  10.070000  10.395000  10.005000  10.230000  10.209925  1479400
2    2020-10-21  10.230000  10.420000  10.090000  10.400000  10.379592  1663900
3    2020-10-22  10.430000  10.810000  10.400000  10.800000  10.778808  1191100
4    2020-10-23  10.850000  10.995000  10.815000  10.880000  10.858650  1522800
..          ...        ...        ...        ...        ...        ...      ...
246  2021-10-11  16.209999  16.455000  16.150000  16.320000  16.320000  1736100
247  2021-10-12  16.240000  16.315001  16.030001  16.059999  16.059999  1107800
248  2021-10-13  16.030001  16.090000  15.620000  15.790000  15.790000  1602400
249  2021-10-14  16.010000  16.084999  15.820000  15.870000  15.870000  1765100
250  2021-10-15  16.170000  16.350000  15.945000  16.090000  16.090000  1768200

[251 rows x 7 columns]

In [139]:

#Ejemplo
new_msft = yf.Ticker('NEW')
print(new_msft.info)

data = new_msft.history(start="2020-12-12",  end="2021-10-10")
data

{'zip': '100080', 'sector': 'Consumer Defensive', 'fullTimeEmployees': 9650, 'longBusinessSummary': "Puxin Limited, together with its subsidiaries, provides K-12 and study-abroad tutoring services in the People's Republic of China. Its K-12 tutoring services offer result-oriented educational services in various forms, such as classroom-based after-school tutoring, full-time tutoring for preparation of university entrance exams, and art college admission exams, as well as online courses in a large-class setting to help students enhance their academic results through group class and personalized tutoring courses; full-time tutoring services to high school students preparing for university entrance exams and art college admission exams; after-school tutoring services in group class settings and through personalized sessions; personalized K-12 tutoring courses to adapt to each student's learning pace, pattern, and approach; and extracurricular courses, such as painting, calligraphy, and science. The company's study-abroad tutoring services helps students to prepare for admission tests and applications for high schools, universities, and graduate programs primarily in English-speaking countries through study-abroad test preparation courses and study-abroad consulting services. It also provides web-based platforms and mobile apps for K-12 tutoring services; and cloud-based products and services for K-12 tutoring and study-abroad tutoring services. As of December 31, 2020, it operated 407 learning centers, which include 328 K-12 and 79 study-abroad learning centers. The company offers its products under the Puxin, Puxin-Lingxian, Puxin-YESSAT, Puxin-Fubusi, and ZMN Education brands, as well as operates franchised schools under the Global Education brand. Puxin Limited was founded in 2014 and is headquartered in Beijing, the People's Republic of China.", 'city': 'Beijing', 'phone': '86 10 8260 5578', 'country': 'China', 'companyOfficers': [], 'website': 'http://www.pxjy.com', 'maxAge': 1, 'address1': 'Dingjun Building', 'industry': 'Education & Training Services', 'address2': 'Building 4, 5th Floor 75 Suzhou Street Haidian District', 'ebitdaMargins': -0.01919, 'profitMargins': 0.017280001, 'grossMargins': 0.45645002, 'operatingCashflow': None, 'revenueGrowth': -0.086, 'operatingMargins': -0.05969, 'ebitda': -54489248, 'targetLowPrice': 10.21, 'recommendationKey': 'strong_buy', 'grossProfits': 1345319000, 'freeCashflow': None, 'targetMedianPrice': 10.21, 'currentPrice': 0.4881, 'earningsGrowth': None, 'currentRatio': 0.387, 'returnOnAssets': -0.02238, 'numberOfAnalystOpinions': 1, 'targetMeanPrice': 10.21, 'debtToEquity': 559.826, 'returnOnEquity': 0.13101, 'targetHighPrice': 10.21, 'totalCash': 279088000, 'totalDebt': 2593294080, 'totalRevenue': 2839326976, 'totalCashPerShare': 3.191, 'financialCurrency': 'CNY', 'revenuePerShare': 32.587, 'quickRatio': 0.099, 'recommendationMean': 1, 'exchange': 'NYQ', 'shortName': 'Puxin Limited', 'longName': 'Puxin Limited', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'NEW', 'messageBoardId': 'finmb_560290242', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 0.828, 'beta3Year': None, 'enterpriseToEbitda': -43.122, '52WeekChange': -0.9379581, 'morningStarRiskRating': None, 'forwardEps': 0.95, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 87463400, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 5.364, 'sharesShort': 1743105, 'sharesPercentSharesOut': 0.0199, 'fundFamily': None, 'lastFiscalYearEnd': 1609372800, 'heldPercentInstitutions': 0.100710005, 'netIncomeToCommon': 49056000, 'trailingEps': 0.03, 'lastDividendValue': None, 'SandP52WeekChange': 0.3155439, 'priceToBook': 0.09099553, 'heldPercentInsiders': 0.0029300002, 'nextFiscalYearEnd': 1672444800, 'yield': None, 'mostRecentQuarter': 1617148800, 'shortRatio': 1.18, 'sharesShortPreviousMonthDate': 1630368000, 'floatShares': 42154731, 'beta': 1.583583, 'enterpriseValue': 2349692672, 'priceHint': 4, 'threeYearAverageReturn': None, 'lastSplitDate': None, 'lastSplitFactor': None, 'legalType': None, 'lastDividendDate': None, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': None, 'priceToSalesTrailing12Months': 0.015035564, 'dateShortInterest': 1632960000, 'pegRatio': None, 'ytdReturn': None, 'forwardPE': 0.5137895, 'lastCapGain': None, 'shortPercentOfFloat': None, 'sharesShortPriorMonth': 1466750, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 0.4736, 'regularMarketOpen': 0.4878, 'twoHundredDayAverage': 1.6322734, 'trailingAnnualDividendYield': None, 'payoutRatio': 0, 'volume24Hr': None, 'regularMarketDayHigh': 0.505, 'navPrice': None, 'averageDailyVolume10Day': 6677642, 'regularMarketPreviousClose': 0.4736, 'fiftyDayAverage': 0.55674285, 'trailingAnnualDividendRate': None, 'open': 0.4878, 'toCurrency': None, 'averageVolume10days': 6677642, 'expireDate': None, 'algorithm': None, 'dividendRate': None, 'exDividendDate': None, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 0.4751, 'currency': 'USD', 'trailingPE': 16.27, 'regularMarketVolume': 1561066, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 42690884, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 2827781, 'dayLow': 0.4751, 'ask': 0.4999, 'askSize': 1000, 'volume': 1561066, 'fiftyTwoWeekHigh': 9.17, 'fromCurrency': None, 'fiveYearAvgDividendYield': None, 'fiftyTwoWeekLow': 0.44, 'bid': 0.4833, 'tradeable': False, 'dividendYield': None, 'bidSize': 4000, 'dayHigh': 0.505, 'regularMarketPrice': 0.4881, 'preMarketPrice': 0.4878, 'logo_url': 'https://logo.clearbit.com/pxjy.com'}

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2020-12-14  6.570  6.670  5.900  6.090  579200          0             0
2020-12-15  6.300  6.800  6.200  6.760  326300          0             0
2020-12-16  6.850  6.880  6.500  6.780  313200          0             0
2020-12-17  6.800  6.800  6.500  6.790  265600          0             0
2020-12-18  6.780  6.860  6.620  6.730   96300          0             0
...           ...    ...    ...    ...     ...        ...           ...
2021-10-04  0.565  0.565  0.503  0.520  976700          0             0
2021-10-05  0.517  0.540  0.502  0.510  734400          0             0
2021-10-06  0.500  0.555  0.500  0.551  781000          0             0
2021-10-07  0.550  0.568  0.535  0.563  665100          0             0
2021-10-08  0.570  0.591  0.533  0.560  680000          0             0

[207 rows x 7 columns]

We will create a Series named "aapl" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [142]:
aapl = aapl_table['Close']['2017']

In [143]:
#Ejemplo
appl_dos = data['Close']['2021']

In [144]:
print(aapl)

Date
2017-01-03    27.372360
2017-01-04    27.341726
2017-01-05    27.480768
2017-01-06    27.787130
2017-01-09    28.041643
                ...
2017-12-22    41.906769
2017-12-26    40.843601
2017-12-27    40.850780
2017-12-28    40.965721
2017-12-29    40.522732
Name: Close, Length: 251, dtype: float64

In [145]:
#Ejemplo
print(appl_dos)

Date
2021-01-04    6.120
2021-01-05    6.160
2021-01-06    6.100
2021-01-07    6.110
2021-01-08    6.360
              ...
2021-10-04    0.520
2021-10-05    0.510
2021-10-06    0.551
2021-10-07    0.563
2021-10-08    0.560
Name: Close, Length: 194, dtype: float64

Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [147]:
print(aapl['2017-3'])

Date
2017-03-01    33.086285
2017-03-02    32.889835
2017-03-03    33.083920
2017-03-06    32.979774
2017-03-07    33.022373
2017-03-08    32.899300
2017-03-09    32.823559
2017-03-10    32.932434
2017-03-13    32.946640
2017-03-14    32.896938
2017-03-15    33.244865
2017-03-16    33.299309
2017-03-17    33.133625
2017-03-20    33.481552
2017-03-21    33.098125
2017-03-22    33.472088
2017-03-23    33.353737
2017-03-24    33.287468
2017-03-27    33.344273
2017-03-28    34.035393
2017-03-29    34.111134
2017-03-30    34.066170
2017-03-31    34.002251
Name: Close, dtype: float64

In [148]:
#Ejemplo
print(appl_dos['2021-03'])

Date
2021-03-01    7.42
2021-03-02    7.13
2021-03-03    6.47
2021-03-04    6.26
2021-03-05    6.54
2021-03-08    6.21
2021-03-09    6.12
2021-03-10    5.67
2021-03-11    5.82
2021-03-12    5.95
2021-03-15    6.21
2021-03-16    5.90
2021-03-17    5.77
2021-03-18    5.52
2021-03-19    5.63
2021-03-22    5.57
2021-03-23    5.16
2021-03-24    4.71
2021-03-25    4.58
2021-03-26    4.20
2021-03-29    3.69
2021-03-30    3.76
2021-03-31    4.00
Name: Close, dtype: float64

In [149]:
aapl['2017-2':'2017-4']

Date
2017-02-01    30.341726
2017-02-02    30.289877
2017-02-03    30.419497
2017-02-06    30.704651
2017-02-07    30.996872
                ...
2017-04-24    33.997528
2017-04-25    34.208164
2017-04-26    34.006992
2017-04-27    34.033024
2017-04-28    33.999886
Name: Close, Length: 61, dtype: float64

In [150]:
#Ejemplo
appl_dos['2020-12':'2021-02']

Date
2021-01-04    6.12
2021-01-05    6.16
2021-01-06    6.10
2021-01-07    6.11
2021-01-08    6.36
2021-01-11    6.39
2021-01-12    6.07
2021-01-13    6.02
2021-01-14    6.00
2021-01-15    5.74
2021-01-19    5.97
2021-01-20    6.36
2021-01-21    6.54
2021-01-22    6.94
2021-01-25    6.69
2021-01-26    6.50
2021-01-27    6.65
2021-01-28    6.18
2021-01-29    6.33
2021-02-01    6.60
2021-02-02    6.85
2021-02-03    6.56
2021-02-04    6.85
2021-02-05    7.04
2021-02-08    6.92
2021-02-09    7.76
2021-02-10    7.51
2021-02-11    7.68
2021-02-12    8.03
2021-02-16    8.49
2021-02-17    8.81
2021-02-18    8.40
2021-02-19    8.50
2021-02-22    8.02
2021-02-23    7.43
2021-02-24    7.71
2021-02-25    7.13
2021-02-26    7.09
Name: Close, dtype: float64

.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [151]:
print(aapl.head(5))
print(aapl.tail(10))

Date
2017-01-03    27.372360
2017-01-04    27.341726
2017-01-05    27.480768
2017-01-06    27.787130
2017-01-09    28.041643
Name: Close, dtype: float64
Date
2017-12-15    41.657742
2017-12-18    42.244400
2017-12-19    41.794231
2017-12-20    41.748734
2017-12-21    41.906769
2017-12-22    41.906769
2017-12-26    40.843601
2017-12-27    40.850780
2017-12-28    40.965721
2017-12-29    40.522732
Name: Close, dtype: float64

In [152]:
#Ejemplo
print(appl_dos.head(6))
print(appl_dos.tail(11))

Date
2021-01-04    6.12
2021-01-05    6.16
2021-01-06    6.10
2021-01-07    6.11
2021-01-08    6.36
2021-01-11    6.39
Name: Close, dtype: float64
Date
2021-09-24    0.480
2021-09-27    0.530
2021-09-28    0.554
2021-09-29    0.532
2021-09-30    0.580
2021-10-01    0.540
2021-10-04    0.520
2021-10-05    0.510
2021-10-06    0.551
2021-10-07    0.563
2021-10-08    0.560
Name: Close, dtype: float64

# Resampling
**_series.resample(freq)_** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**_series.resample.mean()_** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [153]:

by_month = aapl.resample('M').mean()
print(by_month)

Date
2017-01-31    28.178332
2017-02-28    31.606276
2017-03-31    33.282219
2017-04-30    33.819262
2017-05-31    36.125686
2017-06-30    35.133984
2017-07-31    35.245242
2017-08-31    37.897229
2017-09-30    37.604738
2017-10-31    37.654550
2017-11-30    41.233917
2017-12-31    41.160037
Freq: M, Name: Close, dtype: float64

In [154]:
#Ejemplo
by_month_dos = appl_dos.resample('M').mean()
print(by_month_dos)

Date
2021-01-31    6.275263
2021-02-28    7.546316
2021-03-31    5.577826
2021-04-30    3.806190
2021-05-31    2.609500
2021-06-30    1.883182
2021-07-31    1.194762
2021-08-31    0.625455
2021-09-30    0.569714
2021-10-31    0.540667
Freq: M, Name: Close, dtype: float64

We can also aggregate the data by month with max:

In [155]:
aapl.resample('M').max()

Date
2017-01-31    28.739212
2017-02-28    32.451969
2017-03-31    34.111134
2017-04-30    34.264980
2017-05-31    37.099133
2017-06-30    36.944645
2017-07-31    36.471699
2017-08-31    39.129723
2017-09-30    39.141647
2017-10-31    40.332249
2017-11-30    42.050133
2017-12-31    42.244400
Freq: M, Name: Close, dtype: float64

In [156]:
#Ejemplo
appl_dos.resample('M').max()

Date
2021-01-31    6.940
2021-02-28    8.810
2021-03-31    7.420
2021-04-30    4.350
2021-05-31    3.400
2021-06-30    2.200
2021-07-31    1.780
2021-08-31    0.716
2021-09-30    0.707
2021-10-31    0.563
Freq: M, Name: Close, dtype: float64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [157]:
three_day = aapl.resample('3D').mean()
two_week = aapl.resample('2W').mean()
two_month = aapl.resample('2M').mean()


print(three_day)
print(two_week)
print(two_month )

Date
2017-01-03    27.398285
2017-01-06    27.787130
2017-01-09    28.110772
2017-01-12    28.078176
2017-01-15    28.279669
                ...
2017-12-17    42.019316
2017-12-20    41.854090
2017-12-23          NaN
2017-12-26    40.886701
2017-12-29    40.522732
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    27.495496
2017-01-22    28.172571
2017-02-05    29.108261
2017-02-19    31.516817
2017-03-05    32.595558
2017-03-19    33.017882
2017-04-02    33.625219
2017-04-16    33.849727
2017-04-30    33.791843
2017-05-14    35.697634
2017-05-28    36.496180
2017-06-11    36.515007
2017-06-25    34.529047
2017-07-09    34.265135
2017-07-23    35.278872
2017-08-06    36.272778
2017-08-20    37.904119
2017-09-03    38.458792
2017-09-17    38.282706
2017-10-01    36.840875
2017-10-15    37.071594
2017-10-29    37.757320
2017-11-12    41.032237
2017-11-26    41.204381
2017-12-10    40.867067
2017-12-24    41.620865
2018-01-07    40.795709
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.178332
2017-03-31    32.524055
2017-05-31    35.056855
2017-07-31    35.186964
2017-09-30    37.761186
2017-11-30    39.402613
2018-01-31    41.160037
Freq: 2M, Name: Close, dtype: float64

In [158]:
#Ejemplo
three_day_dos = appl_dos.resample('3D').mean()
two_week_dos = appl_dos.resample('2W').mean()
two_month_dos = appl_dos.resample('2M').mean()


print(three_day_dos)
print(two_week_dos)
print(two_month_dos)

Date
2021-01-04    6.126667
2021-01-07    6.235000
2021-01-10    6.230000
2021-01-13    5.920000
2021-01-16         NaN
                ...
2021-09-25    0.530000
2021-09-28    0.555333
2021-10-01    0.540000
2021-10-04    0.527000
2021-10-07    0.561500
Freq: 3D, Name: Close, Length: 93, dtype: float64
Date
2021-01-10    6.170000
2021-01-24    6.225556
2021-02-07    6.625000
2021-02-21    8.011111
2021-03-07    7.120000
2021-03-21    5.880000
2021-04-04    4.446667
2021-04-18    3.728000
2021-05-02    3.830000
2021-05-16    3.027000
2021-05-30    2.192000
2021-06-13    1.963333
2021-06-27    1.829000
2021-07-11    1.641111
2021-07-25    1.233000
2021-08-08    0.683200
2021-08-22    0.615800
2021-09-05    0.628800
2021-09-19    0.594556
2021-10-03    0.509500
2021-10-17    0.540800
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2021-01-31    6.275263
2021-03-31    6.468333
2021-05-31    3.222439
2021-07-31    1.546977
2021-09-30    0.598233
2021-11-30    0.540667
Freq: 2M, Name: Close, dtype: float64

Besides the mean() method, other methods can also be used with the resampler:

In [159]:
std = aapl.resample('W').std()
max = aapl.resample('W').max()
min = aapl.resample('W').min()


print(std)
print(max)
print(min)

Date
2017-01-08    0.203368
2017-01-15    0.072529
2017-01-22    0.025554
2017-01-29    0.245287
2017-02-05    0.943260
2017-02-12    0.251999
2017-02-19    0.231392
2017-02-26    0.059343
2017-03-05    0.340091
2017-03-12    0.076285
2017-03-19    0.177836
2017-03-26    0.157262
2017-04-02    0.319808
2017-04-09    0.128690
2017-04-16    0.212473
2017-04-23    0.174677
2017-04-30    0.090020
2017-05-07    0.235642
2017-05-14    0.352980
2017-05-21    0.536090
2017-05-28    0.060394
2017-06-04    0.281221
2017-06-11    0.620035
2017-06-18    0.382567
2017-06-25    0.128895
2017-07-02    0.264110
2017-07-09    0.158894
2017-07-16    0.404280
2017-07-23    0.124987
2017-07-30    0.384439
2017-08-06    0.924390
2017-08-13    0.467471
2017-08-20    0.435249
2017-08-27    0.275769
2017-09-03    0.251724
2017-09-10    0.381638
2017-09-17    0.294140
2017-09-24    0.735195
2017-10-01    0.354844
2017-10-08    0.204854
2017-10-15    0.118733
2017-10-22    0.517000
2017-10-29    0.680458
2017-11-05    0.560681
2017-11-12    0.190969
2017-11-19    0.436197
2017-11-26    0.563039
2017-12-03    0.427445
2017-12-10    0.073132
2017-12-17    0.205265
2017-12-24    0.194123
2017-12-31    0.190392
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.787130
2017-01-15    28.220749
2017-01-22    28.279669
2017-01-29    28.739212
2017-02-05    30.419497
2017-02-12    31.341909
2017-02-19    32.122967
2017-02-26    32.451969
2017-03-05    33.086285
2017-03-12    33.022373
2017-03-19    33.299309
2017-03-26    33.481552
2017-04-02    34.111134
2017-04-09    34.264980
2017-04-16    33.886280
2017-04-23    33.713505
2017-04-30    34.208164
2017-05-07    35.256702
2017-05-14    37.099133
2017-05-21    37.004059
2017-05-28    36.597664
2017-06-04    36.944645
2017-06-11    36.925632
2017-06-18    34.838963
2017-06-25    34.779549
2017-07-02    34.658337
2017-07-09    34.266197
2017-07-16    35.421223
2017-07-23    35.891800
2017-07-30    36.471699
2017-08-06    37.346302
2017-08-13    38.277931
2017-08-20    38.557091
2017-08-27    38.170567
2017-09-03    39.141647
2017-09-10    38.671616
2017-09-17    38.533230
2017-09-24    37.872322
2017-10-01    36.798634
2017-10-08    37.075401
2017-10-15    37.457169
2017-10-22    38.287479
2017-10-29    38.903061
2017-11-05    41.157784
2017-11-12    42.050133
2017-11-19    41.657742
2017-11-26    41.897198
2017-12-03    41.686478
2017-12-10    40.659225
2017-12-17    41.657742
2017-12-24    42.244400
2017-12-31    40.965721
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.341726
2017-01-15    28.041643
2017-01-22    28.227823
2017-01-29    28.272593
2017-02-05    28.597816
2017-02-12    30.704651
2017-02-19    31.547827
2017-02-26    32.314697
2017-03-05    32.409359
2017-03-12    32.823559
2017-03-19    32.896938
2017-03-26    33.098125
2017-04-02    33.344273
2017-04-09    33.926517
2017-04-16    33.384514
2017-04-23    33.296928
2017-04-30    33.997528
2017-05-07    34.681545
2017-05-14    36.215267
2017-05-21    35.708809
2017-05-28    36.443176
2017-06-04    36.305340
2017-06-11    35.406971
2017-06-18    33.812256
2017-06-25    34.463451
2017-07-02    34.147362
2017-07-09    33.921570
2017-07-16    34.475330
2017-07-23    35.544815
2017-07-30    35.530560
2017-08-06    35.347561
2017-08-13    37.058704
2017-08-20    37.578850
2017-08-27    37.509655
2017-09-03    38.526073
2017-09-10    37.848465
2017-09-17    37.764950
2017-09-24    36.240330
2017-10-01    35.920609
2017-10-08    36.619698
2017-10-15    37.182777
2017-10-22    37.216179
2017-10-29    37.261517
2017-11-05    39.778709
2017-11-12    41.575333
2017-11-19    40.486816
2017-11-26    40.702335
2017-12-03    40.582596
2017-12-10    40.470051
2017-12-17    41.114178
2017-12-24    41.748734
2017-12-31    40.522732
Freq: W-SUN, Name: Close, dtype: float64

In [160]:
#Ejemplo
std_dos = appl_dos.resample('W').std()
max_dos = appl_dos.resample('W').max()
min_dos = appl_dos.resample('W').min()


print(std_dos)
print(max_dos)
print(min_dos)

Date
2021-01-10    0.108628
2021-01-17    0.232013
2021-01-24    0.402772
2021-01-31    0.215291
2021-02-07    0.198872
2021-02-14    0.413944
2021-02-21    0.179072
2021-02-28    0.394183
2021-03-07    0.488600
2021-03-14    0.218929
2021-03-21    0.267451
2021-03-28    0.531347
2021-04-04    0.297881
2021-04-11    0.118448
2021-04-18    0.048166
2021-04-25    0.093167
2021-05-02    0.239541
2021-05-09    0.146799
2021-05-16    0.200075
2021-05-23    0.107378
2021-05-30    0.140428
2021-06-06    0.100457
2021-06-13    0.189921
2021-06-20    0.132966
2021-06-27    0.074632
2021-07-04    0.065422
2021-07-11    0.106771
2021-07-18    0.076289
2021-07-25    0.174442
2021-08-01    0.032280
2021-08-08    0.003912
2021-08-15    0.044289
2021-08-22    0.017869
2021-08-29    0.026725
2021-09-05    0.037925
2021-09-12    0.027622
2021-09-19    0.047431
2021-09-26    0.016498
2021-10-03    0.020620
2021-10-10    0.024222
Freq: W-SUN, Name: Close, dtype: float64
Date
2021-01-10    6.360
2021-01-17    6.390
2021-01-24    6.940
2021-01-31    6.690
2021-02-07    7.040
2021-02-14    8.030
2021-02-21    8.810
2021-02-28    8.020
2021-03-07    7.420
2021-03-14    6.210
2021-03-21    6.210
2021-03-28    5.570
2021-04-04    4.350
2021-04-11    4.090
2021-04-18    3.620
2021-04-25    3.830
2021-05-02    4.130
2021-05-09    3.400
2021-05-16    3.100
2021-05-23    2.540
2021-05-30    2.160
2021-06-06    2.020
2021-06-13    2.200
2021-06-20    2.030
2021-06-27    1.870
2021-07-04    1.840
2021-07-11    1.610
2021-07-18    1.420
2021-07-25    1.260
2021-08-01    0.728
2021-08-08    0.679
2021-08-15    0.716
2021-08-22    0.583
2021-08-29    0.634
2021-09-05    0.707
2021-09-12    0.680
2021-09-19    0.630
2021-09-26    0.490
2021-10-03    0.580
2021-10-10    0.563
Freq: W-SUN, Name: Close, dtype: float64
Date
2021-01-10    6.100
2021-01-17    5.740
2021-01-24    5.970
2021-01-31    6.180
2021-02-07    6.560
2021-02-14    6.920
2021-02-21    8.400
2021-02-28    7.090
2021-03-07    6.260
2021-03-14    5.670
2021-03-21    5.520
2021-03-28    4.200
2021-04-04    3.690
2021-04-11    3.760
2021-04-18    3.490
2021-04-25    3.610
2021-05-02    3.590
2021-05-09    2.990
2021-05-16    2.590
2021-05-23    2.300
2021-05-30    1.770
2021-06-06    1.800
2021-06-13    1.760
2021-06-20    1.710
2021-06-27    1.690
2021-07-04    1.680
2021-07-11    1.360
2021-07-18    1.240
2021-07-25    0.840
2021-08-01    0.652
2021-08-08    0.670
2021-08-15    0.604
2021-08-22    0.536
2021-08-29    0.562
2021-09-05    0.609
2021-09-12    0.620
2021-09-19    0.507
2021-09-26    0.451
2021-10-03    0.530
2021-10-10    0.510
Freq: W-SUN, Name: Close, dtype: float64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [161]:
last_day = aapl.resample('M').agg(lambda x: x[-1])
print(last_day)

Date
2017-01-31    28.597816
2017-02-28    32.423573
2017-03-31    34.002251
2017-04-30    33.999886
2017-05-31    36.305340
2017-06-30    34.228168
2017-07-31    35.347561
2017-08-31    39.129723
2017-09-30    36.772400
2017-10-31    40.332249
2017-11-30    41.150105
2017-12-31    40.522732
Freq: M, Name: Close, dtype: float64

In [162]:
#Ejemplo
last_day_dos = appl_dos.resample('M').agg(lambda x: x[-3])
print(last_day_dos)

Date
2021-01-31    6.650
2021-02-28    7.710
2021-03-31    3.690
2021-04-30    4.050
2021-05-31    1.770
2021-06-30    1.840
2021-07-31    0.728
2021-08-31    0.595
2021-09-30    0.554
2021-10-31    0.551
Freq: M, Name: Close, dtype: float64

Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [163]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return)

Date
2017-01-31    0.044770
2017-02-28    0.068613
2017-03-31    0.027684
2017-04-30   -0.000348
2017-05-31    0.046463
2017-06-30   -0.059799
2017-07-31    0.036446
2017-08-31    0.097261
2017-09-30   -0.060530
2017-10-31    0.099019
2017-11-30    0.033422
2017-12-31   -0.010640
Freq: M, Name: Close, dtype: float64

In [164]:
#Ejemplo
monthly_return_dos = appl_dos.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return_dos)

Date
2021-01-31    0.034314
2021-02-28    0.074242
2021-03-31   -0.460916
2021-04-30   -0.174713
2021-05-31   -0.432353
2021-06-30   -0.113861
2021-07-31   -0.612360
2021-08-31   -0.029851
2021-09-30   -0.179632
2021-10-31    0.037037
Freq: M, Name: Close, dtype: float64

Series object also provides us some convenient methods to do some quick calculation.

In [165]:
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())

0.026863413100020633
0.052258515941312124
0.09901862431941888

In [166]:
#Ejemplo
print(monthly_return_dos.mean())
print(monthly_return_dos.std())
print(monthly_return_dos.max())

-0.18580929107497307
0.23893635212397032
0.07424246288418712

Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [167]:
print(last_day.diff())
print(last_day.pct_change())

Date
2017-01-31         NaN
2017-02-28    3.825756
2017-03-31    1.578678
2017-04-30   -0.002365
2017-05-31    2.305454
2017-06-30   -2.077171
2017-07-31    1.119392
2017-08-31    3.782162
2017-09-30   -2.357323
2017-10-31    3.559849
2017-11-30    0.817856
2017-12-31   -0.627373
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.133778
2017-03-31    0.048689
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [168]:
#Ejemplo
print(last_day_dos.diff())
print(last_day_dos.pct_change())

Date
2021-01-31      NaN
2021-02-28    1.060
2021-03-31   -4.020
2021-04-30    0.360
2021-05-31   -2.280
2021-06-30    0.070
2021-07-31   -1.112
2021-08-31   -0.133
2021-09-30   -0.041
2021-10-31   -0.003
Freq: M, Name: Close, dtype: float64
Date
2021-01-31         NaN
2021-02-28    0.159398
2021-03-31   -0.521401
2021-04-30    0.097561
2021-05-31   -0.562963
2021-06-30    0.039548
2021-07-31   -0.604348
2021-08-31   -0.182692
2021-09-30   -0.068908
2021-10-31   -0.005415
Freq: M, Name: Close, dtype: float64

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [169]:
daily_return = last_day.pct_change()
print(daily_return.fillna(0))

Date
2017-01-31    0.000000
2017-02-28    0.133778
2017-03-31    0.048689
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [170]:
#Ejemplo
daily_return_dos = last_day_dos.pct_change()
print(daily_return_dos.fillna(0))

Date
2021-01-31    0.000000
2021-02-28    0.159398
2021-03-31   -0.521401
2021-04-30    0.097561
2021-05-31   -0.562963
2021-06-30    0.039548
2021-07-31   -0.604348
2021-08-31   -0.182692
2021-09-30   -0.068908
2021-10-31   -0.005415
Freq: M, Name: Close, dtype: float64

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [171]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))

Date
2017-01-31    0.133778
2017-02-28    0.133778
2017-03-31    0.048689
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [172]:
#Ejemplo
daily_return_dos = last_day_dos.pct_change()
print(daily_return_dos.fillna(method = 'bfill'))

Date
2021-01-31    0.159398
2021-02-28    0.159398
2021-03-31   -0.521401
2021-04-30    0.097561
2021-05-31   -0.562963
2021-06-30    0.039548
2021-07-31   -0.604348
2021-08-31   -0.182692
2021-09-30   -0.068908
2021-10-31   -0.005415
Freq: M, Name: Close, dtype: float64

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by .dropna()

In [173]:
daily_return = last_day.pct_change()
daily_return.dropna()

Date
2017-02-28    0.133778
2017-03-31    0.048689
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [174]:
#Ejemplo
daily_return_dos = last_day_dos.pct_change()
daily_return_dos.dropna()

Date
2021-02-28    0.159398
2021-03-31   -0.521401
2021-04-30    0.097561
2021-05-31   -0.562963
2021-06-30    0.039548
2021-07-31   -0.604348
2021-08-31   -0.182692
2021-09-30   -0.068908
2021-10-31   -0.005415
Freq: M, Name: Close, dtype: float64

# DataFrame
The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

## Create DataFrames
The most common method of creating a DataFrame is passing a dictionary:

In [175]:
dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = data_index)
print(df)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

In [176]:
#Ejemplo
dict_dos = {'YAHH': [354.21, 658.09, 122.35, 294.80, 333.66],'OUTL':[579.55, 877.76, 767.69,431.49, 545.77],
        'MSF':[643.88, 251.44, 333.33, 287.88, 598.54]}
data_index_dos = pd.date_range('2020-03-21',periods = 5, freq = 'D')
df_dos = pd.DataFrame(dict_dos, index = data_index_dos)
print(df_dos)

              YAHH    OUTL     MSF
2020-03-21  354.21  579.55  643.88
2020-03-22  658.09  877.76  251.44
2020-03-23  122.35  767.69  333.33
2020-03-24  294.80  431.49  287.88
2020-03-25  333.66  545.77  598.54

## Manipulating DataFrames
We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: **df['column_name']**

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [177]:
df = aapl_table
print(df.Close.tail(5))
print(df['Volume'].tail(5))

Date
2017-12-22    41.906769
2017-12-26    40.843601
2017-12-27    40.850780
2017-12-28    40.965721
2017-12-29    40.522732
Name: Close, dtype: float64
Date
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

In [178]:
#Ejemplo
df_tres = data
print(df_tres.Close.tail(3))
print(df_tres['Volume'].tail(5))

Date
2021-10-06    0.551
2021-10-07    0.563
2021-10-08    0.560
Name: Close, dtype: float64
Date
2021-10-04    976700
2021-10-05    734400
2021-10-06    781000
2021-10-07    665100
2021-10-08    680000
Name: Volume, dtype: int64

All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [179]:
aapl_2016 = df['2016']
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1])
print(aapl_month)

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-31  21.852384  22.440247  21.750948  ...  257666000        0.0             0
2016-02-29  22.450757  22.768304  22.402082  ...  140865200        0.0             0
2016-03-31  25.431524  25.473245  25.236823  ...  103553600        0.0             0
2016-04-30  21.785533  21.954737  21.442491  ...  274126000        0.0             0
2016-05-31  23.226411  23.412969  23.044518  ...  169228800        0.0             0
2016-06-30  22.023108  22.333258  21.990461  ...  143345600        0.0             0
2016-07-31  24.296778  24.380729  24.177847  ...  110934800        0.0             0
2016-08-31  24.773058  24.986415  24.768367  ...  118649600        0.0             0
2016-09-30  26.367380  26.580740  26.212637  ...  145516400        0.0             0
2016-10-31  26.646394  26.782382  26.540886  ...  105677600        0.0             0
2016-11-30  26.300090  26.441488  25.986656  ...  144649200        0.0             0
2016-12-31  27.490191  27.619805  27.202681  ...  122345200        0.0             0

[12 rows x 7 columns]

In [180]:
#Ejemplo
apple_2021 = df_tres['2021']
apple_month_tres = apple_2021.resample('M').agg(lambda x: x[-1])
print(apple_month_tres)

             Open   High    Low  Close   Volume  Dividends  Stock Splits
Date
2021-01-31  6.600  6.740  6.280   6.33   337400          0             0
2021-02-28  7.180  7.410  6.660   7.09  1088400          0             0
2021-03-31  3.890  4.200  3.885   4.00   896800          0             0
2021-04-30  3.600  3.644  3.540   3.59   241600          0             0
2021-05-31  2.120  2.250  1.890   1.93  1627100          0             0
2021-06-30  1.850  1.850  1.770   1.79   369400          0             0
2021-07-31  0.730  0.730  0.664   0.69  1249400          0             0
2021-08-31  0.635  0.685  0.621   0.65  1541200          0             0
2021-09-30  0.540  0.629  0.524   0.58  3107500          0             0
2021-10-31  0.570  0.591  0.533   0.56   680000          0             0

We may select certain columns of a DataFrame using their names:

In [181]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']]
print(aapl_bar)

                 Open       High        Low      Close
Date
2016-01-31  21.852384  22.440247  21.750948  22.440247
2016-02-29  22.450757  22.768304  22.402082  22.411354
2016-03-31  25.431524  25.473245  25.236823  25.262320
2016-04-30  21.785533  21.954737  21.442491  21.727587
2016-05-31  23.226411  23.412969  23.044518  23.287043
2016-06-30  22.023108  22.333258  21.990461  22.293615
2016-07-31  24.296778  24.380729  24.177847  24.301441
2016-08-31  24.773058  24.986415  24.768367  24.876219
2016-09-30  26.367380  26.580740  26.212637  26.505713
2016-10-31  26.646394  26.782382  26.540886  26.620604
2016-11-30  26.300090  26.441488  25.986656  26.045572
2016-12-31  27.490191  27.619805  27.202681  27.294590

In [182]:
#Ejemplo
apple_bar_dos = apple_month_tres[['Open', 'High', 'Low', 'Close']]
print(apple_bar_dos)

             Open   High    Low  Close
Date
2021-01-31  6.600  6.740  6.280   6.33
2021-02-28  7.180  7.410  6.660   7.09
2021-03-31  3.890  4.200  3.885   4.00
2021-04-30  3.600  3.644  3.540   3.59
2021-05-31  2.120  2.250  1.890   1.93
2021-06-30  1.850  1.850  1.770   1.79
2021-07-31  0.730  0.730  0.664   0.69
2021-08-31  0.635  0.685  0.621   0.65
2021-09-30  0.540  0.629  0.524   0.58
2021-10-31  0.570  0.591  0.533   0.56

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [183]:
print(aapl_month.loc['2016-03':'2016-06', ['Open', 'High', 'Low', 'Close']])

                 Open       High        Low      Close
Date
2016-03-31  25.431524  25.473245  25.236823  25.262320
2016-04-30  21.785533  21.954737  21.442491  21.727587
2016-05-31  23.226411  23.412969  23.044518  23.287043
2016-06-30  22.023108  22.333258  21.990461  22.293615

In [184]:
#Ejemplo
print(apple_month_tres.loc['2021-02':'2021-05', ['Open', 'High', 'Low', 'Close']])

            Open   High    Low  Close
Date
2021-02-28  7.18  7.410  6.660   7.09
2021-03-31  3.89  4.200  3.885   4.00
2021-04-30  3.60  3.644  3.540   3.59
2021-05-31  2.12  2.250  1.890   1.93

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [185]:

import numpy as np

above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print(above)

                 Open       High        Low      Close
Date
2016-03-31  25.431524  25.473245  25.236823  25.262320
2016-08-31  24.773058  24.986415  24.768367  24.876219
2016-09-30  26.367380  26.580740  26.212637  26.505713
2016-10-31  26.646394  26.782382  26.540886  26.620604
2016-11-30  26.300090  26.441488  25.986656  26.045572
2016-12-31  27.490191  27.619805  27.202681  27.294590

In [186]:
#Ejemplo
import numpy as np

above_dos = apple_bar_dos[apple_bar_dos.Close > np.mean(apple_bar_dos.Close)]
print(above_dos)

            Open   High    Low  Close
Date
2021-01-31  6.60  6.740  6.280   6.33
2021-02-28  7.18  7.410  6.660   7.09
2021-03-31  3.89  4.200  3.885   4.00
2021-04-30  3.60  3.644  3.540   3.59

## Data Validation
As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [187]:
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()
print(aapl_bar)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852384  22.440247  21.750948  22.440247          NaN
2016-02-29  22.450757  22.768304  22.402082  22.411354    -0.001288
2016-03-31  25.431524  25.473245  25.236823  25.262320     0.127211
2016-04-30  21.785533  21.954737  21.442491  21.727587    -0.139921
2016-05-31  23.226411  23.412969  23.044518  23.287043     0.071773
2016-06-30  22.023108  22.333258  21.990461  22.293615    -0.042660
2016-07-31  24.296778  24.380729  24.177847  24.301441     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367380  26.580740  26.212637  26.505713     0.065504
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004335
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.021601
2016-12-31  27.490191  27.619805  27.202681  27.294590     0.047955

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [188]:
#Ejemplo
apple_bar_dos['rate_return'] = apple_bar_dos.Close.pct_change()
print(apple_bar_dos)

             Open   High    Low  Close  rate_return
Date
2021-01-31  6.600  6.740  6.280   6.33          NaN
2021-02-28  7.180  7.410  6.660   7.09     0.120063
2021-03-31  3.890  4.200  3.885   4.00    -0.435825
2021-04-30  3.600  3.644  3.540   3.59    -0.102500
2021-05-31  2.120  2.250  1.890   1.93    -0.462396
2021-06-30  1.850  1.850  1.770   1.79    -0.072539
2021-07-31  0.730  0.730  0.664   0.69    -0.614525
2021-08-31  0.635  0.685  0.621   0.65    -0.057971
2021-09-30  0.540  0.629  0.524   0.58    -0.107692
2021-10-31  0.570  0.591  0.533   0.56    -0.034483

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. isnull() provides a convenient way to check abnormal values.

In [189]:
missing = aapl_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

In [190]:
#Ejemplo
missing_dos = apple_bar_dos.isnull()
print(missing_dos)
print('---------------------------------------------')
print(missing_dos.describe())

             Open   High    Low  Close  rate_return
Date
2021-01-31  False  False  False  False         True
2021-02-28  False  False  False  False        False
2021-03-31  False  False  False  False        False
2021-04-30  False  False  False  False        False
2021-05-31  False  False  False  False        False
2021-06-30  False  False  False  False        False
2021-07-31  False  False  False  False        False
2021-08-31  False  False  False  False        False
2021-09-30  False  False  False  False        False
2021-10-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      10     10     10     10          10
unique      1      1      1      1           2
top     False  False  False  False       False
freq       10     10     10     10           9

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [191]:
print(missing[missing.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

In [193]:
#Ejemplo
print(missing_dos[missing_dos.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2021-01-31  False  False  False  False         True

Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method dropna() and fillna() can be applied to a DataFrame.

In [194]:
drop = aapl_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0)
print(fill)

                 Open       High        Low      Close  rate_return
Date
2016-02-29  22.450757  22.768304  22.402082  22.411354    -0.001288
2016-03-31  25.431524  25.473245  25.236823  25.262320     0.127211
2016-04-30  21.785533  21.954737  21.442491  21.727587    -0.139921
2016-05-31  23.226411  23.412969  23.044518  23.287043     0.071773
2016-06-30  22.023108  22.333258  21.990461  22.293615    -0.042660
2016-07-31  24.296778  24.380729  24.177847  24.301441     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367380  26.580740  26.212637  26.505713     0.065504
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004335
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.021601
2016-12-31  27.490191  27.619805  27.202681  27.294590     0.047955

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852384  22.440247  21.750948  22.440247     0.000000
2016-02-29  22.450757  22.768304  22.402082  22.411354    -0.001288
2016-03-31  25.431524  25.473245  25.236823  25.262320     0.127211
2016-04-30  21.785533  21.954737  21.442491  21.727587    -0.139921
2016-05-31  23.226411  23.412969  23.044518  23.287043     0.071773
2016-06-30  22.023108  22.333258  21.990461  22.293615    -0.042660
2016-07-31  24.296778  24.380729  24.177847  24.301441     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367380  26.580740  26.212637  26.505713     0.065504
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004335
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.021601
2016-12-31  27.490191  27.619805  27.202681  27.294590     0.047955

In [195]:
#Ejemplo
drop_dos = apple_bar_dos.dropna()
print(drop_dos)
print('\n--------------------------------------------------\n')
fill_dos = apple_bar_dos.fillna(0)
print(fill_dos)

             Open   High    Low  Close  rate_return
Date
2021-02-28  7.180  7.410  6.660   7.09     0.120063
2021-03-31  3.890  4.200  3.885   4.00    -0.435825
2021-04-30  3.600  3.644  3.540   3.59    -0.102500
2021-05-31  2.120  2.250  1.890   1.93    -0.462396
2021-06-30  1.850  1.850  1.770   1.79    -0.072539
2021-07-31  0.730  0.730  0.664   0.69    -0.614525
2021-08-31  0.635  0.685  0.621   0.65    -0.057971
2021-09-30  0.540  0.629  0.524   0.58    -0.107692
2021-10-31  0.570  0.591  0.533   0.56    -0.034483

--------------------------------------------------

             Open   High    Low  Close  rate_return
Date
2021-01-31  6.600  6.740  6.280   6.33     0.000000
2021-02-28  7.180  7.410  6.660   7.09     0.120063
2021-03-31  3.890  4.200  3.885   4.00    -0.435825
2021-04-30  3.600  3.644  3.540   3.59    -0.102500
2021-05-31  2.120  2.250  1.890   1.93    -0.462396
2021-06-30  1.850  1.850  1.770   1.79    -0.072539
2021-07-31  0.730  0.730  0.664   0.69    -0.614525
2021-08-31  0.635  0.685  0.621   0.65    -0.057971
2021-09-30  0.540  0.629  0.524   0.58    -0.107692
2021-10-31  0.570  0.591  0.533   0.56    -0.034483

## DataFrame Concat
We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function **concat()** allows us to merge multiple Series into a DataFrame:

In [198]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

In [199]:
#Ejemplo
s1_dos = pd.Series([233.5, 444.09, 344.35, 294.80, 333.66], name = 'YAHH')
s2_dos = pd.Series([458.55, 877.76, 767.69,431.49, 545.77], name = 'MSF')
data_frame_dos = pd.concat([s1_dos,s2_dos], axis = 1)
print(data_frame_dos)

     YAHH     MSF
0  233.50  458.55
1  444.09  877.76
2  344.35  767.69
3  294.80  431.49
4  333.66  545.77

The "axis = 1" parameter will join two DataFrames by columns:

In [200]:
log_price = np.log(aapl_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1)
print(concat)

Date
2016-01-31    3.110856
2016-02-29    3.109568
2016-03-31    3.229314
2016-04-30    3.078583
2016-05-31    3.147897
2016-06-30    3.104300
2016-07-31    3.190536
2016-08-31    3.213912
2016-09-30    3.277360
2016-10-31    3.281685
2016-11-30    3.259848
2016-12-31    3.306689
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return  log_price
Date
2016-01-31  21.852384  22.440247  21.750948  22.440247          NaN   3.110856
2016-02-29  22.450757  22.768304  22.402082  22.411354    -0.001288   3.109568
2016-03-31  25.431524  25.473245  25.236823  25.262320     0.127211   3.229314
2016-04-30  21.785533  21.954737  21.442491  21.727587    -0.139921   3.078583
2016-05-31  23.226411  23.412969  23.044518  23.287043     0.071773   3.147897
2016-06-30  22.023108  22.333258  21.990461  22.293615    -0.042660   3.104300
2016-07-31  24.296778  24.380729  24.177847  24.301441     0.090063   3.190536
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652   3.213912
2016-09-30  26.367380  26.580740  26.212637  26.505713     0.065504   3.277360
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004335   3.281685
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.021601   3.259848
2016-12-31  27.490191  27.619805  27.202681  27.294590     0.047955   3.306689

In [201]:
#Ejemplo
log_price_dos = np.log(apple_bar_dos.Close)
log_price_dos.name = 'log_price'
print(log_price_dos)
print('\n---------------------- separate line--------------------\n')
concat_dos = pd.concat([apple_bar_dos, log_price_dos], axis = 1)
print(concat_dos)

Date
2021-01-31    1.845300
2021-02-28    1.958685
2021-03-31    1.386294
2021-04-30    1.278152
2021-05-31    0.657520
2021-06-30    0.582216
2021-07-31   -0.371064
2021-08-31   -0.430783
2021-09-30   -0.544727
2021-10-31   -0.579818
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

             Open   High    Low  Close  rate_return  log_price
Date
2021-01-31  6.600  6.740  6.280   6.33          NaN   1.845300
2021-02-28  7.180  7.410  6.660   7.09     0.120063   1.958685
2021-03-31  3.890  4.200  3.885   4.00    -0.435825   1.386294
2021-04-30  3.600  3.644  3.540   3.59    -0.102500   1.278152
2021-05-31  2.120  2.250  1.890   1.93    -0.462396   0.657520
2021-06-30  1.850  1.850  1.770   1.79    -0.072539   0.582216
2021-07-31  0.730  0.730  0.664   0.69    -0.614525  -0.371064
2021-08-31  0.635  0.685  0.621   0.65    -0.057971  -0.430783
2021-09-30  0.540  0.629  0.524   0.58    -0.107692  -0.544727
2021-10-31  0.570  0.591  0.533   0.56    -0.034483  -0.579818

We can also join two DataFrames by rows. Consider these two DataFrames:

In [202]:
df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  26.646394  26.782382  26.540886  26.620604
2016-11-30  26.300090  26.441488  25.986656  26.045572
2016-12-31  27.490191  27.619805  27.202681  27.294590
2017-01-31  28.550684  28.607243  28.425783  28.597816
2017-02-28  32.444873  32.530080  32.354932  32.423573
2017-03-31  34.016451  34.146629  33.848403  34.002251
2017-04-30  34.104028  34.153733  33.909947  33.999886

In [203]:
#Ejemplo
df_volume_dos = data.loc['2020-10':'2021-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume_dos)
print('\n---------------------- separate line--------------------\n')
df_2021_dos = data.loc['2020-10':'2021-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2021_dos)

             Volume  Stock Splits
Date
2020-12-31   661500             0
2021-01-31   337400             0
2021-02-28  1088400             0
2021-03-31   896800             0
2021-04-30   241600             0

---------------------- separate line--------------------

            Open   High    Low  Close
Date
2020-12-31  6.80  6.950  5.720   5.82
2021-01-31  6.60  6.740  6.280   6.33
2021-02-28  7.18  7.410  6.660   7.09
2021-03-31  3.89  4.200  3.885   4.00
2021-04-30  3.60  3.644  3.540   3.59

Now we merge the DataFrames with our DataFrame 'aapl_bar'

In [204]:
concat = pd.concat([aapl_bar, df_volume], axis = 1)
print(concat)

                 Open       High  ...       Volume  Stock Splits
Date                              ...
2016-01-31  21.852384  22.440247  ...          NaN           NaN
2016-02-29  22.450757  22.768304  ...          NaN           NaN
2016-03-31  25.431524  25.473245  ...          NaN           NaN
2016-04-30  21.785533  21.954737  ...          NaN           NaN
2016-05-31  23.226411  23.412969  ...          NaN           NaN
2016-06-30  22.023108  22.333258  ...          NaN           NaN
2016-07-31  24.296778  24.380729  ...          NaN           NaN
2016-08-31  24.773058  24.986415  ...          NaN           NaN
2016-09-30  26.367380  26.580740  ...          NaN           NaN
2016-10-31  26.646394  26.782382  ...  105677600.0           0.0
2016-11-30  26.300090  26.441488  ...  144649200.0           0.0
2016-12-31  27.490191  27.619805  ...  122345200.0           0.0
2017-01-31        NaN        NaN  ...  196804000.0           0.0
2017-02-28        NaN        NaN  ...   93931600.0           0.0
2017-03-31        NaN        NaN  ...   78646800.0           0.0
2017-04-30        NaN        NaN  ...   83441600.0           0.0

[16 rows x 7 columns]

In [205]:
#Ejemplo
concat_dos = pd.concat([apple_bar_dos, df_volume_dos], axis = 1)
print(concat_dos)

             Open   High    Low  Close  rate_return     Volume  Stock Splits
Date
2020-12-31    NaN    NaN    NaN    NaN          NaN   661500.0           0.0
2021-01-31  6.600  6.740  6.280   6.33          NaN   337400.0           0.0
2021-02-28  7.180  7.410  6.660   7.09     0.120063  1088400.0           0.0
2021-03-31  3.890  4.200  3.885   4.00    -0.435825   896800.0           0.0
2021-04-30  3.600  3.644  3.540   3.59    -0.102500   241600.0           0.0
2021-05-31  2.120  2.250  1.890   1.93    -0.462396        NaN           NaN
2021-06-30  1.850  1.850  1.770   1.79    -0.072539        NaN           NaN
2021-07-31  0.730  0.730  0.664   0.69    -0.614525        NaN           NaN
2021-08-31  0.635  0.685  0.621   0.65    -0.057971        NaN           NaN
2021-09-30  0.540  0.629  0.524   0.58    -0.107692        NaN           NaN
2021-10-31  0.570  0.591  0.533   0.56    -0.034483        NaN           NaN

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [206]:
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')
print(concat)

                 Open       High  ...     Volume  Stock Splits
Date                              ...
2016-10-31  26.646394  26.782382  ...  105677600             0
2016-11-30  26.300090  26.441488  ...  144649200             0
2016-12-31  27.490191  27.619805  ...  122345200             0

[3 rows x 7 columns]

In [207]:
#Ejemplo
concat_dos = pd.concat([apple_bar_dos,df_volume_dos],axis = 1, join = 'inner')
print(concat_dos)

            Open   High    Low  Close  rate_return   Volume  Stock Splits
Date
2021-01-31  6.60  6.740  6.280   6.33          NaN   337400             0
2021-02-28  7.18  7.410  6.660   7.09     0.120063  1088400             0
2021-03-31  3.89  4.200  3.885   4.00    -0.435825   896800             0
2021-04-30  3.60  3.644  3.540   3.59    -0.102500   241600             0

Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [208]:
append = aapl_bar.append(df_2017)
print(append)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852384  22.440247  21.750948  22.440247          NaN
2016-02-29  22.450757  22.768304  22.402082  22.411354    -0.001288
2016-03-31  25.431524  25.473245  25.236823  25.262320     0.127211
2016-04-30  21.785533  21.954737  21.442491  21.727587    -0.139921
2016-05-31  23.226411  23.412969  23.044518  23.287043     0.071773
2016-06-30  22.023108  22.333258  21.990461  22.293615    -0.042660
2016-07-31  24.296778  24.380729  24.177847  24.301441     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367380  26.580740  26.212637  26.505713     0.065504
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004335
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.021601
2016-12-31  27.490191  27.619805  27.202681  27.294590     0.047955
2016-10-31  26.646394  26.782382  26.540886  26.620604          NaN
2016-11-30  26.300090  26.441488  25.986656  26.045572          NaN
2016-12-31  27.490191  27.619805  27.202681  27.294590          NaN
2017-01-31  28.550684  28.607243  28.425783  28.597816          NaN
2017-02-28  32.444873  32.530080  32.354932  32.423573          NaN
2017-03-31  34.016451  34.146629  33.848403  34.002251          NaN
2017-04-30  34.104028  34.153733  33.909947  33.999886          NaN

In [209]:
#Ejemplo
append_dos = apple_bar_dos.append(df_2021_dos)
print(append_dos)

             Open   High    Low  Close  rate_return
Date
2021-01-31  6.600  6.740  6.280   6.33          NaN
2021-02-28  7.180  7.410  6.660   7.09     0.120063
2021-03-31  3.890  4.200  3.885   4.00    -0.435825
2021-04-30  3.600  3.644  3.540   3.59    -0.102500
2021-05-31  2.120  2.250  1.890   1.93    -0.462396
2021-06-30  1.850  1.850  1.770   1.79    -0.072539
2021-07-31  0.730  0.730  0.664   0.69    -0.614525
2021-08-31  0.635  0.685  0.621   0.65    -0.057971
2021-09-30  0.540  0.629  0.524   0.58    -0.107692
2021-10-31  0.570  0.591  0.533   0.56    -0.034483
2020-12-31  6.800  6.950  5.720   5.82          NaN
2021-01-31  6.600  6.740  6.280   6.33          NaN
2021-02-28  7.180  7.410  6.660   7.09          NaN
2021-03-31  3.890  4.200  3.885   4.00          NaN
2021-04-30  3.600  3.644  3.540   3.59          NaN

'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [210]:
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852384  22.440247  21.750948  22.440247          NaN
2016-02-29  22.450757  22.768304  22.402082  22.411354    -0.001288
2016-03-31  25.431524  25.473245  25.236823  25.262320     0.127211
2016-04-30  21.785533  21.954737  21.442491  21.727587    -0.139921
2016-05-31  23.226411  23.412969  23.044518  23.287043     0.071773
2016-06-30  22.023108  22.333258  21.990461  22.293615    -0.042660
2016-07-31  24.296778  24.380729  24.177847  24.301441     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367380  26.580740  26.212637  26.505713     0.065504
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004335
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.021601
2016-12-31  27.490191  27.619805  27.202681  27.294590     0.047955
2016-10-31  26.646394  26.782382  26.540886  26.620604          NaN
2016-11-30  26.300090  26.441488  25.986656  26.045572          NaN
2016-12-31  27.490191  27.619805  27.202681  27.294590          NaN
2017-01-31  28.550684  28.607243  28.425783  28.597816          NaN
2017-02-28  32.444873  32.530080  32.354932  32.423573          NaN
2017-03-31  34.016451  34.146629  33.848403  34.002251          NaN
2017-04-30  34.104028  34.153733  33.909947  33.999886          NaN

In [211]:
#Ejemplo
concat_dos = pd.concat([apple_bar_dos, df_2021_dos], axis = 0)
print(concat_dos)

             Open   High    Low  Close  rate_return
Date
2021-01-31  6.600  6.740  6.280   6.33          NaN
2021-02-28  7.180  7.410  6.660   7.09     0.120063
2021-03-31  3.890  4.200  3.885   4.00    -0.435825
2021-04-30  3.600  3.644  3.540   3.59    -0.102500
2021-05-31  2.120  2.250  1.890   1.93    -0.462396
2021-06-30  1.850  1.850  1.770   1.79    -0.072539
2021-07-31  0.730  0.730  0.664   0.69    -0.614525
2021-08-31  0.635  0.685  0.621   0.65    -0.057971
2021-09-30  0.540  0.629  0.524   0.58    -0.107692
2021-10-31  0.570  0.591  0.533   0.56    -0.034483
2020-12-31  6.800  6.950  5.720   5.82          NaN
2021-01-31  6.600  6.740  6.280   6.33          NaN
2021-02-28  7.180  7.410  6.660   7.09          NaN
2021-03-31  3.890  4.200  3.885   4.00          NaN
2021-04-30  3.600  3.644  3.540   3.59          NaN

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [212]:
df_2017.columns = ['Change', 'High', 'Low', 'Close']
concat = pd.concat([aapl_bar, df_2017], axis = 0,sort=True)
print(concat)

               Change      Close       High        Low       Open  rate_return
Date
2016-01-31        NaN  22.440247  22.440247  21.750948  21.852384          NaN
2016-02-29        NaN  22.411354  22.768304  22.402082  22.450757    -0.001288
2016-03-31        NaN  25.262320  25.473245  25.236823  25.431524     0.127211
2016-04-30        NaN  21.727587  21.954737  21.442491  21.785533    -0.139921
2016-05-31        NaN  23.287043  23.412969  23.044518  23.226411     0.071773
2016-06-30        NaN  22.293615  22.333258  21.990461  22.023108    -0.042660
2016-07-31        NaN  24.301441  24.380729  24.177847  24.296778     0.090063
2016-08-31        NaN  24.876219  24.986415  24.768367  24.773058     0.023652
2016-09-30        NaN  26.505713  26.580740  26.212637  26.367380     0.065504
2016-10-31        NaN  26.620604  26.782382  26.540886  26.646394     0.004335
2016-11-30        NaN  26.045572  26.441488  25.986656  26.300090    -0.021601
2016-12-31        NaN  27.294590  27.619805  27.202681  27.490191     0.047955
2016-10-31  26.646394  26.620604  26.782382  26.540886        NaN          NaN
2016-11-30  26.300090  26.045572  26.441488  25.986656        NaN          NaN
2016-12-31  27.490191  27.294590  27.619805  27.202681        NaN          NaN
2017-01-31  28.550684  28.597816  28.607243  28.425783        NaN          NaN
2017-02-28  32.444873  32.423573  32.530080  32.354932        NaN          NaN
2017-03-31  34.016451  34.002251  34.146629  33.848403        NaN          NaN
2017-04-30  34.104028  33.999886  34.153733  33.909947        NaN          NaN

In [213]:
#Ejemplo
df_2021_dos.columns = ['Change', 'High', 'Low', 'Close']
concat_dos = pd.concat([apple_bar_dos, df_2021_dos], axis = 0,sort=True)
print(concat_dos)

            Change  Close   High    Low   Open  rate_return
Date
2021-01-31     NaN   6.33  6.740  6.280  6.600          NaN
2021-02-28     NaN   7.09  7.410  6.660  7.180     0.120063
2021-03-31     NaN   4.00  4.200  3.885  3.890    -0.435825
2021-04-30     NaN   3.59  3.644  3.540  3.600    -0.102500
2021-05-31     NaN   1.93  2.250  1.890  2.120    -0.462396
2021-06-30     NaN   1.79  1.850  1.770  1.850    -0.072539
2021-07-31     NaN   0.69  0.730  0.664  0.730    -0.614525
2021-08-31     NaN   0.65  0.685  0.621  0.635    -0.057971
2021-09-30     NaN   0.58  0.629  0.524  0.540    -0.107692
2021-10-31     NaN   0.56  0.591  0.533  0.570    -0.034483
2020-12-31    6.80   5.82  6.950  5.720    NaN          NaN
2021-01-31    6.60   6.33  6.740  6.280    NaN          NaN
2021-02-28    7.18   7.09  7.410  6.660    NaN          NaN
2021-03-31    3.89   4.00  4.200  3.885    NaN          NaN
2021-04-30    3.60   3.59  3.644  3.540    NaN          NaN

Since the column name of 'Open' has been changed, the new DataFrame has an new column named 'Change'.

# Summary

Hereby we introduced the most import part of python: resampling and DataFrame manipulation. We only introduced the most commonly used method in Financial data analysis. There are also many methods used in data mining, which are also beneficial. You can always check the [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html) official documentations for help.